body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #020617;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 40px;
}

.hero p {
  color: #94a3b8;
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #2563eb;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

/* CARDS */
.card {
  background: #020617;
  margin: 20px;
  padding: 25px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* SKILLS */
.skills span {
  display: inline-block;
  background: #1e293b;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 6px;
}

/* PROJECT */
.project {
  margin-top: 10px;
  padding: 10px;
  background: #1e293b;
  border-radius: 6px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  color: #94a3b8;
}